
.gradle/8.1.1/executionHistory/
.gradle/8.1.1/fileHashes/
.gradle/8.1.1/

.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin

.gradle/
.idea/

*.bin
*.jar
*.probe
*.yml
*.properties
*.uniqueId0
*.uniqueId1
*.uniqueId2
*.uniqueId3

snapspot-domain/build/
snapspot-api/build/

snapspot-domain/src/main/resources/

snapspot-admin/src/main/resources/

snapspot-api/src/main/resources/
