.gradle/8.1.1/executionHistory/
.gradle/8.1.1/fileHashes/
.gradle/8.1.1/
.gradle/

.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/
build/

*.bin
*.jar
*.probe
*.yml
*.properties
*.uniqueId0
*.uniqueId1
*.uniqueId2
*.uniqueId3

snapspot-domain/build/
snapspot-api/build/
snapspot-admin/build/
snapspot-common/build/

snapspot-domain/src/main/resources/*.yml

snapspot-admin/src/main/resources/*.yml

snapspot-api/src/main/resources/*.yml

snapspot-common/src/main/resources/*.yml